* {
    margin: 0px;
    font-family: Roboto, sans-serif;

}

.top-container {
    background-color: #1f2937;
    color: white;

}

.menu-header {
    display: flex;
    margin: 20px;
    justify-content: space-around;

}

.logo {
    margin: 10px;

}

.links {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;

}

.main-text  {
    display: flex;
    align-items: center;

}


ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: inherit;

}