*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.top {
    background-color: #1f2937;
    height: 3.5em;

}

li, a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding: 0px 20px;

}

.top, .logo header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

.logo {
    font-weight: 1000;
    font-size: 2em;

}

.nav_links {
    display: flex;
    padding: 0px 20px;
}

.hero-container {
    padding-top: 5em;
    background-color: #1f2937;
    color: white;
    display: flex;
    padding-left: 340px;
    padding-right: 405px;
    padding-bottom: 100px;

}

.hero-content h1 {
    font-size: 3em;
    font-weight: 1000;
    padding-right: 50px;
    padding-bottom: 10px;
}

.hero-content p {
    padding-bottom: 10px;

}

.hero-content-2 img {
    width:auto;
    height: 15em;
    padding-left: 50px;

}

.signup {
    border-radius: 10px;
    background: #3882f6;
    border: #3882f6;
    color: white;
    width: 100px;
    height: 35px;
}

.random-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 200px 0px;

}

.random-container p {
    padding-top: 140px;

}

.random h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 700;
}

.one, .two, .three, .four {
    border-radius: 24px;
    height: 100px;
    width: 170px;
    background: peachpuff;
    border: 4px solid brown;
    padding: 20px;

}

.inspiring  {
    background-color: #d3dde6;
}

.quote p {
    margin-top: 180px;
    padding: 180px;
    padding-bottom: 10px;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 2.4em;
    font-style: italic;
    font-weight: 50;
    
}

.quoteby p {
    padding-left: 1100px;
    padding-bottom: 80px;
    font-size: 1.8em;
    font-weight: 800;


}

.blue-div {
    width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.blue-div div {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
}

.blue-div div .signup-div {
    display: flex;
    flex-direction: column;
}

.blue-div div strong {
    font-size: 1.3em;
    font-weight: bold;
}

.blue-div div div {
    margin: 50px;
}

.signup-btn {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    padding: 5px 25px;

}

.footer div {
    display: flex;
    justify-content: center;
    margin: 0 0 30 0px;
    background-color: #1f2937;
    color: white;
    padding: 10px;

}

.footer p {
    font-size: 1.3em;
}